<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ page.title | default: site.username }}</span>
        <span class="site-description">{{ page.subhead | default: site.user_title }}</span>
      </h1>
      <div class="header-icons">
	<a aria-label="Homepage" href="https://joshpabraham.github.io/" title="Homepage"><i class="icon fa fa-home" aria-hidden="true"></i></a>
        <a aria-label="Send email" href="mailto:jpabraham@wisc.edu" title="E-mail me"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/joshpabraham/" title="LinkedIn"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/joshpabraham" title="Github"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
	<a aria-label="My CV" href="https://joshpabraham.github.io/CV" title="Curriculum Vitae"><i class="icon fa fa-user-circle-o" aria-hidden="true"></i></a>
	<a aria-label="Personal Homepage" href="https://joshpabraham.github.io/hub" title="Quick Links"><i class="icon fa fa-star" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
